body {
	background-color:#000;
	background-image:url('media/bg.jpg');
	background-repeat:no-repeat;
	background-position:50% 50px;
	background-attachment:fixed;
	color:#A200FF;
}
.corners {
	border-radius:25px;
}
 				
.center {
	text-align:center;
}
.nav {
	position:fixed;
}
.nav li {
	list-style-type:none;
}
.mainPage {
	margin-left:13%;
	margin-top:3%;
	height:1500px;
	width:85%;
	background:rgba(191,191,191,0.5);
 }
.foot {
	position:abosolute;
	bottom: 0px;
	margin-left:13%;
	width:85%;
}